.heading{
    font-size: 23px;
    width:100% ;
    margin: 0px;
    color: #ffb0d2;
}
.note{
    font-size: 15px;
    color: #8effd7;
}
body{
    background-size: cover;
}
.div_song{
    position: fixed;
}

#song{
    font-size: 23px;
    margin: 15px;
}
.play_song{
    width: 130px;
    font-size: 25px;
}
canvas{
    border: 5px solid teal;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #008d57;
}